/* @import url('https://fonts.googleapis.com/css?family=Sen&display=swap'); */
.container {
    padding-left: 3rem;
    padding-right: 3rem;
    /* display: flex; */
    flex-direction: row;
}

.item {
    font-size: rem;
    /* line-height: 1; */
    text-align: center;
    height: 55px;
    width: 10rem;
    background: white;
    border: lightslategray;
    margin: 0.375rem;
}

.item-1 {
    box-sizing: border-box;
    border: 1px solid #D8E2EE;
    flex-grow: 2;
    padding: 1rem;
}

.item-2 {
    box-sizing: border-box;
    border: 1px solid #D8E2EE;
    flex-grow: 2;
    padding: 1rem;
}

.item-3 {
    box-sizing: border-box;
    border: 1px solid #D8E2EE;
    flex-grow: 1;
    padding: 1rem;
}

.item-4 {
    box-sizing: border-box;
    border: 1px solid #D8E2EE;
    flex-grow: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
}


/* .button {
    border-radius: 4px;
} */

.btn {
    /* width: 5%;
    height: 30px; */
    color: white;
    font-size: 17px;
    cursor: pointer;
    background: white;
    color: black;
    padding-top: 0;
    border: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.mat-btn {
    color: blue;
    background-color: white;
    border: none;
}

.freehand {
    padding: 1px;
    height: 25px;
    border: 1px solid #D8E2EE;
    color: #344050;
}

/* .search {
    padding: 1px;
    height: 55px;
    border: 1px solid #D8E2EE;
    color: #344050;
} */

input{
    border: none;
}

input:focus{
    outline: none;
    border: none;
}

.dataResult{
    z-index: 2;
    margin-left: 0;
    position: absolute;
    margin-top: 5px;
    width: 392px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dataResult::-webkit-scrollbar{
    display: none;
}

.dataResult .dataItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p{
    margin-left: 10px;
}

.dataItem{
    text-decoration: none;
}
a:hover{
    background-color: lightgrey;
}
#clearBtn{
    cursor: pointer;
    border: none;
 }
.searchIcon {
    height: 40px;
    /* width: 50px; */
    background-color: white;
    display: grid;
    place-items: center;
  }


